
body {
    background: rgb(65, 65, 65);
    background-image: url(https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-template-areas:
        "sunrise sunset";
}


 h1 {
     text-align: center;
 }

h2 {
    text-align: center;
    
}

 #rise {
    color: rgb(107, 198, 255);
    animation: up 4s;
    animation-fill-mode:forwards;
    grid-area: sunrise;
    position: relative;
    align-items: center;
}

 #set {
    color: #ffb3b3;
    animation: down 4s;
    animation-fill-mode:forwards;
    grid-area: sunset;
    position: relative;
    align-items: center;
}

#sunRise {
    position: relative;
    animation: glowUp 2s;
    animation-fill-mode:forwards;
}

#sunSet {
    position: relative;
    animation: glowDown 2s;
    animation-fill-mode:forwards;
}

@media (max-width: 400px){
    .container{
        grid-template-areas:
            "sunrise"
            "sunset";
    }
    
    div {
        display: flex;
        flex-direction: column;
    }
    
    #rise {
        justify-content: flex-end;
        padding-bottom: 0px;
        width: 100vw;
        height: 50vh;
    }
    
    
    
    #set {
        justify-content: flex-start;
        padding-top: 0px;
        width: 100vw;
        height: 50vh;
    }
}


@keyframes up {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 100px; 
    }
}

@keyframes down {
    0% {
        top: 0px;
    }
    100% {
        top: 100px; 
    }
    
}

@keyframes glowUp {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffff89, 0 0 70px #ffff89, 0 0 80px #ffff89, 0 0 100px #ffff89, 0 0 150px #ffff89;
  }
    to {
        text-shadow: 0 0 5px #00001a, 0 0 10px #00001a, 0 0 15px #00001a, 0 0 20px #ffff89, 0 0 35px #ffff89, 0 0 40px #ffff89, 0 0 50px #ffff89, 0 0 75px #ffff89;
  }
}

@keyframes glowDown {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fcda00, 0 0 70px #fcda00, 0 0 80px #fcda00, 0 0 100px #fcda00, 0 0 150px #fcda00;
  }
    to {
        text-shadow: 0 0 5px #332c02, 0 0 10px #332c02, 0 0 15px #332c02, 0 0 20px #fcda00, 0 0 35px #fcda00, 0 0 40px #fcda00, 0 0 50px #fcda00, 0 0 75px #fcda00;
  }
} 