body {
    background: rgb(65, 65, 65);
    background-image: url(https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-template-areas:
        "sunrise sunset";
}


 h1 {
     text-align: center;
 }

h2 {
    text-align: center;
    
}

 #rise {
    color: rgb(107, 198, 255);
    animation: up 4s;
    animation-fill-mode:forwards;
    grid-area: sunrise;
    position: relative;
    align-items: center;
}

 #set {
    color: #ffb3b3;
    animation: down 4s;
    animation-fill-mode:forwards;
    grid-area: sunset;
    position: relative;
    align-items: center;
}

#sunRise {
    position: relative;
    animation: glowUp 2s;
    animation-fill-mode:flex-end;
}

#sunSet {
    position: relative;
    animation: glowDown 2s;
    animation-fill-mode:forwards;
}


@media (max-width: 400px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "sunset"
            "sunrise";
    }
    
    #rise {
        align-items: flex-end;
        padding-bottom: 0px;
    }
    
    #set {
        align-items: flex-start;
        padding-top: 0px;
    }
}

/*@keyframes up {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 100px; 
    }
}

@keyframes down {
    0% {
        top: 0px;
    }
    100% {
        top: 100px; 
    }
    
}

@keyframes glowUp {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #00FFFFFF, 0 0 80px #00FFFFFF, 0 0 100px #00FFFFFF, 0 0 150px #00FFFFFF;
  }
    to {
        text-shadow: 0 0 5px #00001a, 0 0 10px #00001a, 0 0 15px #00001a, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes glowDown {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00FFFFFF, 0 0 70px #00FFFFFF, 0 0 80px #00FFFFFF, 0 0 100px #00FFFFFF, 0 0 150px #00FFFFFF;
  }
    to {
        text-shadow: 0 0 5px #330000, 0 0 10px #330000, 0 0 15px #330000, 0 0 20px #ff6666, 0 0 35px #ff6666, 0 0 40px #ff6666, 0 0 50px #ff6666, 0 0 75px #ff6666;
  }
} */